<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.ScoreMapper">
  <resultMap id="BaseResultMap" type="com.spring.bean.Score">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="student_id" jdbcType="INTEGER" property="studentId" />
    <id column="course_id" jdbcType="INTEGER" property="courseId" />
  </resultMap>
</mapper>